:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html, body {
  background-color: #81b29a;
  height: 100%;
  margin: 0;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

#landing {
  display: flex;
  align-items: stretch;
  row-gap: 20px;
  width: 75%;
  height: 85%;
  padding-left: 5%;
  padding-right: 20%;
  padding-top: 5%;
}

#profilePhoto {
  margin-top: 0;
  min-width: 0;
}

#profile {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

#information {
  flex: 4 1 800px;
  margin-left: 20px
}

#name {
  width: 75%;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}
#job {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 15px;
  color: #343a40;
}
#connect {
  font-size: 24px;
  margin-top: auto;
}
#bio {
  font-size: 1rem;
  margin-top: 15px;
  color: #343a40;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
#connect a:hover{
  margin-top: -3px;
}
