
html, body {
  background-color: #81b29a
}

#bio {
  margin-top: 200px;
  margin-left: 20px;
  width: 75%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  line-height: 1em;
}
#job {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 20px;
  color: #343a40;
}
#connect {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
#connect a:hover{
  margin-top: -3px;
}
